{% extends 'base.html.twig' %}

{% block title %}Клинические картины{% endblock %} {# TODO: прокидывать параметром #}

{% block body %}
    <style>
        .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    </style>

    <div class="example-wrapper">
        <div id="root" data-json-encoded="{{ data }}"></div>
    </div>
{% endblock %}

{% block javascripts %}
    {{ encore_entry_script_tags('clinical-picture') }}
{% endblock %}
