{% extends 'base.html.twig' %}

{% block title %}Признаки{% endblock %} {# TODO: прокидывать параметром #}

{% block body %}
<style>
    .example-wrapper { margin: 0 auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; margin-left: 26%; }
</style>

<div class="example-wrapper">
    <div id="root" data-json-encoded="{{ data }}"></div>
</div>
{% endblock %}

{% block javascripts %}
    {{ encore_entry_script_tags('feature') }}
{% endblock %}
