{% extends 'base.html.twig' %}

{% block body %}
<div class="example-wrapper">
    <h1 style="margin-top: 0; padding-top: 10px;">Диагностика неисправностей тормозной системы велосипеда</h1>

    <p>Автор: А.С.Мельник, группа Б8116-02.03.03, 2020 год</p>
    <p>
        Отчёт: <a href="https://docs.google.com/document/d/1bTA7Y0nYtXLD0klwvlM1TnRRzZqFjtqkAC5am7ebFqs">
            https://docs.google.com/document/d/1bTA7Y0nYtXLD0klwvlM1TnRRzZqFjtqkAC5am7ebFqs
        </a>
    </p>
</div>
{% endblock %}
