{% extends 'base.html.twig' %}

{% block title %}{{ name }}{% endblock %}

{% block body %}
<div class="example-wrapper">
    <h1 style="margin-top: 0; padding-top: 10px;">{{ name }}</h1>

    <p>Знания не соответствуют онтологическим соглашениям (см. <a href="{{ path('дерево-знаний') }}">Дерево знаний</a>).</p>
    <p>
        Прежде чем решить задачу, необходимо скорректировать знания, чтобы они соответствовали онтологическим соглашениям
        (см. <a href="{{ path('редактор-знаний:признаки') }}">Редактор знаний</a>).
    </p>
</div>
{% endblock %}
